body{
    background-color: white;
    color: black;
}
h1{
    font-family: 'Serenity', Helvetica, sans-serif;
    text-transform: none;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: lighter;
    letter-spacing: 1px;
    color: black;
}
h2{
    color: black;
}
p.default{
    font-family:;
    font-weight: lighter;
    color: black;
    letter-spacing: 2px;

}
.logo{
    width: 25vh;
    height: 25vh;
}
.intro{
    background: url(volcano.jpg);
    background-position: center;
    background-size: cover;
}
.left-about{
    background: url(headshot_web.jpg);
    background-size: cover;
    background-position: center;
    height: 60vh;
}
.right-about{
    height: 60vh;
}


.navbar-custom.top-nav-collapse{
    background-color: rgba(255, 255, 255, 0.8);
}
.navbar-custom.top-nav-collapse a{
    color: black;
}
.active{
    text-decoration: underline;
    background-color: rgba(0,0,0,0);
}
.navbar-custom .nav li a:hover {
  color: rgba(0, 0, 0, 0.6);
  outline: none;
  background-color: transparent;
}
.navbar-custom .nav li.active a {
  background-color: rgba(255, 255, 255, 0);
}
.navbar-custom .nav li.active a:hover {
  color: rgba(0, 0, 0, 0.6);
}
.bigpage{
    height: 50vh;
}


.box{
    padding-top: 10vh;
    padding-bottom: 20vh;
    height: 10vh;
    border: 2px solid;
    margin-top: 2vh;
    margin-bottom: 2vh;

}

#cam360{
    background: url("360cam.jpg");
    background-position: center;
    background-size: cover;
}
#watcard{
    background: url("watcard.jpg");
    background-position: center;
    background-size: cover;
}
#montecarlo{
    background: url("montecarlo.jpg");
    background-position: center;
    background-size: cover;
}
#elementbuddy{
    background: url("elementbuddy.jpg");
    background-position: center;
    background-size: cover;
}
#istudiez{
    background: url("istudiez.jpg");
    background-position: center;
    background-size: cover;
}
#lokdforandroid{
    background: url("lokd-logo.jpg");
    background-position: center;
    background-size: cover;
}

.boxtext{
    background: rgba(255,255,255,0.8);
}
.nogreen{
    color: black;
}
